*{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
.container{
  width: 90%;
  margin: 0 auto;
}
button{
  border: none;
  cursor: pointer;
}
body{
  font-family: 'Poppins', sans-serif;
  background: rgba(128, 128, 128, 0.83);
}