@mixin center{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@mixin btn{
  background: gold;
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFF;
  &:hover{
    background: #8F7CEC;
    color: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px #8F7CEC, 0 0 50px #8F7CEC,0 0 100px #8F7CEC;
  }
}

@mixin spece{
  display: flex;
  align-items: center;
}
@mixin zam{
  display: flex;
  flex-direction: column;
}
@mixin cart{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@mixin car3{
  background: yellow;
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFF;
  &:hover{
    background: #8F7CEC;
    color: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px #8F7CEC, 0 0 50px #8F7CEC,0 0 100px #8F7CEC;
  }
}
