@import "global1";
@import "mixin1";
@import "veraibles1";
@import "media1";

#header{
  padding-top: 1%;
  background: #FFFFFF;
  .header{
    @include center();
    &--car{
      a{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color:$bl;
        margin: 20px;
        &:hover{
          border-bottom: 2px solid $reb;
          color: blue;
        }
      }
      button{
        @include btm();
      }
    }
  }
}

#hero{
  padding-top: 3%;
  .hero{
    @include center();
    img{
      margin-top: 90px;
    }
    &--cart{
      h1{
        font-weight: 800;
        font-size: 45px;
        line-height: 65px;
        color: $bl;
      }
      p{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $bl;
        padding: 20px 0;
      }
      button{
        @include btn();
      }
      .hero--cart__haw{
        @include btn();
      }
    }
  }
}

#spas{
  padding-top: 13%;
  .spas{
    max-width: 1160px;
    height: 254px;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    h1{
      font-weight: 700;
      font-size: 38px;
      line-height: 48px;
      text-transform: uppercase;
      color: $bl;
      padding: 40px 37px;

    }
    &--car{
      @include cart();


    }
    &--cart{
      span{
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
        background: linear-gradient(115.11deg, #FFBC2A 16.38%, #FF4F39 95.45%);        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      p{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $bl;

      }
      .spas--haw{
        width: 80px;
        height: 0;
        border: 1px solid #C7C7C7;
        transform: rotate(90deg);
        margin-top: -30px;
        margin-left: 130px;
      }
    }
    &--carb{
      span{
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
        background: linear-gradient(115.11deg, #FFBC2A 16.38%, #FF4F39 95.45%);        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      p{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $bl;

      }
      .spas--haw{
        width: 80px;
        height: 0;
        border: 1px solid #C7C7C7;
        transform: rotate(90deg);
        margin-top: -30px;
        margin-left: 220px;
      }
    }

  }
}

#sill{
  padding-top: 13%;
  .sill {
    h2 {
      font-weight: 700;
      font-size: 38px;
      line-height: 48px;
      text-transform: uppercase;
      color: $bl;
    }

    &--hav {
      padding-top: 30px;
      @include center();
    }

    &--var {
      width: 220px;
      height: 378px;
      background: #FFFFFF;
      box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
      border-radius: 15px;

      h3 {
        font-weight: 800;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 10px;
      }
    }

    &--run {
      width: 220px;
      height: 74px;
      background: #77B2D3;
      box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
      border-radius: 15px 15px 0 0;
    }

    &--web {
      @include spece();

      img {
        padding: 13px 20px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $bl;
      }
    }
    &--sos {
      width: 218px;
      height: 0;
      border: 1px solid rgba(107, 24, 24, 0.62);
      margin-top: 30px;
    }
    &--ait {
      span {
        font-weight: 800;
        font-size: 30px;
        line-height: 24px;
        background: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 0 10px;
      }
    }
    .sill--code {
      @include btn1();
      margin-top: 50px;
      margin-left: 30px;
    }
    &--var {
      width: 220px;
      height: 378px;
      background: #FFFFFF;
      box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
      border-radius: 15px;

      h3 {
        font-weight: 800;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 10px;
      }
    }
  }
}

#hit{
  padding-top: 13%;
  .hit{
    @include center();

    &--hope {
      h1 {
        font-weight: 700;
        font-size: 38px;
        line-height: 48px;
        text-transform: uppercase;
        color: $bl;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $bl;
        padding: 15px 0;
      }

      input {
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        color: $bl;
        padding: 15px 35px;
      }
    }
    &--cut{
      input{
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        color: $bl;
        padding: 35px 173px;
        margin-top: 10px;
      }
      p{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $bl;
      }
      button{
        @include btm();
      }
    }
    img{
      width: 500px;
    }

  }
}

#sold{
  padding-top: 13%;
  .sold {
    h1 {
      font-weight: 700;
      font-size: 38px;
      line-height: 48px;
      text-transform: uppercase;
      color: $bl;
    }

    &--fell {
      padding-top: 40px;
      @include center();
    }
    &--cut {
      //width: 570px;
      //height: 518px;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
      border-radius: 15px;
      img {
        margin-top: 30px;
        margin-left: 30px;
      }

      h2 {
        color: #FF6600;
        font-size: 35px;
        padding: 0 30px;

      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $bl;
        padding: 0 30px;
        margin-top: 30px;
      }
    }
    &--cart{
      margin-top: 15px;
      height: 161px;
      background: rgba(77, 7, 18, 0.49);
      @include cart();


      h3{
        font-weight: 800;
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
        color: $bl;
        margin-top: -60px;
        padding: 15px 0;
      }

    }
    &--car{
      margin-top: 30px;
    }
    &--bar{
      h4{
        font-weight: 800;
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
        color: $bl;
        padding: 15px 30px;
      }
      img{
        margin-left: 20px;
        margin-top: -10px;
      }
    }
  }
}

#footer{
  padding-top: 13%;
  .footer{
    @include center();
    &--hav{
      p{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-decoration-line: underline;
        color: $bl;
        padding: 15px 0;
      }
      button{
        @include btn1();
      }
    }
    &--car{
      @include zam();
      h4{
        font-weight: 600;
        font-size: 16px;
        line-height: 36px;
        text-transform: uppercase;
        color: $bl;
      }
      a{
        font-weight: 400;
        font-size: 16px;
        line-height: 36px;
        color: $bl;

      }
    }
    &--cart{
      h4{
        font-weight: 600;
        font-size: 16px;
        line-height: 36px;
        text-transform: uppercase;
        color: $bl;
      }
      P{
        font-weight: 400;
        font-size: 16px;
        line-height: 36px;
        color: $bl;
      }
    }
  }
}